<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basePaths</key>
	<dict>
		<key>submitOrder</key>
		<string>/ifmarket/submitOrder</string>
		<key>cancelOrder</key>
		<string>/ifmarket/cancelOrder</string>
		<key>getOrders</key>
		<string>/ifmarket/getOrders</string>
		<key>queryOrder</key>
		<string>/ifmarket/queryOrder</string>
		<key>getOrderTrades</key>
		<string>/ifmarket/getOrderTrades</string>
		<key>getUserTrades</key>
		<string>/ifmarket/getUserTrades</string>
		<key>getStockTrades</key>
		<string>/ifmarket/getStockTrades</string>
		<key>address</key>
		<string>/ifaccount/address</string>
		<key>rechargeAmount</key>
		<string>/ifaccount/rechargeAmount</string>
		<key>withdraw</key>
		<string>/ifaccount/withdraw</string>
		<key>usersMe</key>
		<string>/ifaccount/users/me</string>
		<key>settlesWithdraw</key>
		<string>/ifaccount/settles?type=withdraw</string>
		<key>settlesDeposit</key>
		<string>/ifaccount/settles?type=deposit</string>
		<key>rewards</key>
		<string>/ifaccount/rewards?</string>
		<key>settles</key>
		<string>/ifaccount/settles?</string>
		<key>userConfigs</key>
		<string>/ifglobal/userConfigs</string>
		<key>spotGlobal</key>
		<string>/ifmarket/spotGlobal</string>
		<key>queryDepth</key>
		<string>/ifmarket/queryDepth</string>
		<key>spotTickers</key>
		<string>/ifmarket/spotTickers</string>
		<key>spotTickerOne</key>
		<string>/ifmarket/spotTickerOne</string>
		<key>spot</key>
		<string>/ifmarket/spot</string>
		<key>spot2</key>
		<string>/ifmarket/v2/spot</string>
		<key>spothour</key>
		<string>/ifmarket/spothour</string>
		<key>spotdaily</key>
		<string>/ifmarket/spotdaily</string>
		<key>cancelOrders</key>
		<string>/ifmarket/cancelOrders</string>
		<key>spotDetail</key>
		<string>/ifmarket/spotDetail</string>
		<key>quoteGlobal</key>
		<string>/ifquotes/quoteGlobal</string>
		<key>tickers</key>
		<string>/ifquotes/tickers</string>
		<key>stocks</key>
		<string>/ifmarket/stocks</string>
		<key>tickerOne</key>
		<string>/ifquotes/tickerOne</string>
		<key>quote</key>
		<string>/ifquotes/quote</string>
		<key>quoteDaily</key>
		<string>/ifquotes/quoteDaily</string>
		<key>quotehour</key>
		<string>/ifquotes/quotehour</string>
		<key>registers</key>
		<string>/ifaccount/users/register</string>
		<key>active</key>
		<string>/ifaccount/users/active</string>
		<key>bindEmail</key>
		<string>/ifaccount/bindEmail</string>
		<key>bindPhone</key>
		<string>/ifaccount/bindPhone</string>
		<key>verifyCode</key>
		<string>/ifaccount/verifyCode</string>
		<key>resetPassword</key>
		<string>/ifaccount/users/resetPassword</string>
		<key>users</key>
		<string>/ifaccount/users</string>
		<key>login</key>
		<string>/ifaccount/login</string>
		<key>actionVerify</key>
		<string>/ifaccount/email?action=verify</string>
		<key>actionBind</key>
		<string>/ifaccount/email?action=bind</string>
		<key>checkUpdate</key>
		<string>/ifglobal/checkUpdate?platform=2&amp;version=</string>
		<key>withdrawAddresses</key>
		<string>/ifaccount/withdrawAddress?action=</string>
		<key>coinBrief</key>
		<string>/ifglobal/coinBrief</string>
		<key>assetPasswordEffectiveTime</key>
		<string>/ifaccount/assetPasswordEffectiveTime?action=reset</string>
		<key>resetAssetPassword</key>
		<string>/ifaccount/assetPassword?action=reset</string>
		<key>assetPassword</key>
		<string>/ifaccount/assetPassword?action=add</string>
		<key>coinPrice</key>
		<string>/ifglobal/coinPrice</string>
		<key>GAKey</key>
		<string>/ifaccount/GAKey?action=</string>
		<key>userPositions</key>
		<string>/ifcontract/userPositions?</string>
		<key>userContractOrders</key>
		<string>/ifcontract/userOrders?</string>
		<key>contracts</key>
		<string>/ifcontract/contracts</string>
		<key>submitContractOrder</key>
		<string>/ifcontract/submitOrder</string>
		<key>contractAccounts</key>
		<string>/ifcontract/accounts</string>
		<key>contractDepth</key>
		<string>/ifcontract/depth?contractID=</string>
		<key>cancelContractOrders</key>
		<string>/ifcontract/cancelOrders</string>
		<key>contractTrades</key>
		<string>/ifcontract/trades?contractID=</string>
		<key>futures</key>
		<string>/ifcontract/tickers</string>
		<key>contractUserTrades</key>
		<string>/ifcontract/userTrades</string>
		<key>contractQuote</key>
		<string>/ifcontract/quote</string>
		<key>transferFunds</key>
		<string>/ifcontract/transferFunds</string>
		<key>cashBooks</key>
		<string>/ifcontract/cashBooks</string>
		<key>fundingrate</key>
		<string>/ifcontract/fundingrate</string>
		<key>marginOper</key>
		<string>/ifcontract/marginOper</string>
		<key>liqRecords</key>
		<string>/ifcontract/userLiqRecords</string>
		<key>createContractAccount</key>
		<string>/ifcontract/createContractAccount</string>
		<key>openAccountRewardCheck</key>
		<string>/ifcontract/activity/openAccountReward?action=check</string>
		<key>openAccountRewardReceive</key>
		<string>/ifcontract/activity/openAccountReward?action=receive</string>
		<key>depositRewardCheck</key>
		<string>/ifcontract/activity/depositReward?action=check</string>
		<key>depositRewardReceive</key>
		<string>/ifcontract/activity/depositReward?action=receive</string>
		<key>rebates</key>
		<string>/ifaccount/rebates</string>
		<key>referPrice</key>
		<string>/ifaccount/otc/referPrice</string>
		<key>KYCAuth</key>
		<string>/ifaccount/KYCAuth?action=update</string>
		<key>otcAccount</key>
		<string>/ifaccount/otc/account</string>
		<key>otcSubmit</key>
		<string>/ifaccount/otc/order?action=submit</string>
		<key>otcOrders</key>
		<string>/ifaccount/otc/orders?action=query</string>
		<key>otcOrderDetail</key>
		<string>/ifaccount/otc/order?order_id=</string>
		<key>otcOrderCancel</key>
		<string>/ifaccount/otc/order?action=cancel</string>
		<key>getKYCInfo</key>
		<string>/ifaccount/KYCAuth?action=query</string>
		<key>uploadImage</key>
		<string>/ifaccount/upload?type=image</string>
		<key>areas</key>
		<string>/ifglobal/areas</string>
		<key>otcOrderPayment</key>
		<string>/ifaccount/otc/order?action=payment</string>
		<key>otcOrderReceipt</key>
		<string>/ifaccount/otc/order?action=receipt</string>
		<key>riskReserves</key>
		<string>/ifcontract/riskReserves</string>
		<key>contractIndexes</key>
		<string>/ifcontract/indexes</string>
		<key>captchCheck</key>
		<string>/ifaccount/captchCheck?action=</string>
		<key>submitPlanOrder</key>
		<string>/ifcontract/submitPlanOrder</string>
		<key>cancelPlanOrders</key>
		<string>/ifcontract/cancelPlanOrders</string>
		<key>userPlanOrders</key>
		<string>/ifcontract/userPlanOrders?</string>
		<key>accountName</key>
		<string>/ifaccount/user/accountName?</string>
		<key>banners</key>
		<string>/ifglobal/banners?</string>
	</dict>
</dict>
</plist>
